<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonProjetDeNaissance"
        tools:targetApi="31">
        <activity
            android:name=".View.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".View.Allaitement_Activity"
            android:exported="false" />
        <activity
            android:name=".View.Conseil_Travail_Activity"
            android:exported="false" />
        <activity
            android:name=".View.conseil_analgesie_Activity"
            android:exported="false" />
        <activity
            android:name=".View.conseil_toucher_Activity"
            android:exported="false" />
        <activity
            android:name=".View.Conseil_accoucher_Activity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.SingupActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
        <activity
            android:name=".View.Post_PartumActivity"
            android:exported="false" />
        <activity
            android:name=".View.AccouchementActivity"
            android:exported="false" />
        <activity
            android:name=".View.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".View.PrenataleActivity"
            android:exported="false" />
        <activity
            android:name=".View.TravailActivity"
            android:exported="false" />
        <activity
            android:name=".View.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".View.LangueActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>